.mostrar_container{
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: "fuente";
}
/* FONT */
@font-face {
    font-family: "fuente";
    src: url("../../assets/RedHatDisplay-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}