
<div class="container_fluid" id="agregar_container" >
    
    <div class="agregar_imagen">

    </div>
    <div class="agregar_title mx-5 p-5 bg-dark text-white rounded">
        <h1>Empleados</h1>
    </div>
    <div >
        <form onSubmit="agregarDatos()" class="agregar_form" >
            <!--Formulario para introducir los datos del trabajador-->
            <div>
                <label for="nombre">Nombre: </label><br>
                <input placeholder="Introduce nombre" required name='nombre' [(ngModel)]='this.empleado.nombre'/>
            </div>
            <div>
                <label for="apellidos">Apellidos: </label><br>
                <input placeholder="Introduce apellidos" required name='apellidos'  [(ngModel)]='this.empleado.apellidos'/>
            </div>
            <div>
                <label for="dni">DNI: </label><br>
                <input placeholder="Introduce DNI" required name='dni'  [(ngModel)]='this.empleado.dni'/>
            </div>
            <div>
                <label for="departamento">Departamento: </label><br>
                <input placeholder="Introduce departamento" required name='departamento'  [(ngModel)]='this.empleado.departamento'/>
            </div>
            
            <div class="p-3">
                <input type="reset" id="buttonStyle" value="Restablecer" class="btn btn-dark">
            </div>
        </form>
        
    </div>
    <div class="agregar_button">
        <!-- Se agregan los datos y se crea un objeto que va a ser agregado a una lista-->
        <button class="btn btn-dark" id="buttonStyle" (click)="agregarDatos()">Agregar datos</button>
    </div>
    
</div>

<div *ngIf="this.list">
    <app-mostrarempleados></app-mostrarempleados>
</div>




